<h1>Product Details</h1>
<div class="product-details" *ngIf="product">
  <div class="image-container">
    <img [src]="product.image" alt="{{ product.title }}">
  </div>

  <div class="product-info">
    <h2>{{ product.title }}</h2>
    <p>{{ product.description }}</p>
    <p>{{ product.price | currency }}</p>

    <div class="quantity-selector">
      <button (click)="decreaseQuantity()" class="quantity-button">-</button>
      <span>{{ quantity }}</span>
      <button (click)="increaseQuantity()" class="quantity-button">+</button>
    </div>

    <div class="product-actions">
      <button (click)="addToCart()" [routerLink]="['/cart']" routerLinkActive="router-link-active" class="add-to-cart">Add to cart</button>
    </div>
  </div>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
